<div *ngIf="isDesktop" class="container-fluid p-2">
  <div class="row login-wrapper align-items-center">
    <div class="col-sm-12 col-md-4 offset-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">social.tag</h5>
          <form [formGroup]="authForm">
            <div>
              <label class="m-0" for="email">Email</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="email-addon">
                   <i class="fas fa-envelope"></i>
                  </span>
                </div>
                <input type="email"
                       id="email"
                       class="form-control"
                       placeholder="Username"
                       aria-label="Username">
              </div>
            </div>
            <div class="mt-2">
              <label class="m-0" for="password">Password</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="password-addon">
                    <i class="fas fa-lock"></i>
                  </span>
                </div>
                <input type="password"
                       id="password"
                       class="form-control"
                       placeholder="Password"
                       aria-label="password">
              </div>
            </div>
            <span class="mt-1 mb-1 font-12px float-right account-action-link">Forgot your password?</span>
            <button type="button" class="btn btn-primary mt-1 full-width">
              Log in
            </button>
            <div class="font-12px text-center mt-3 mb-1">
              Don't have an account?
              <span class="account-action-link">Create one!</span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isMobile" class="container p-2">
  <div class="text-center">
    <h5>social.tag</h5>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <label for="mobile-email">Email</label>
      <div class="input-group">
        <div class="input-group-prepend">
                  <span class="input-group-text">
                   <i class="fas fa-envelope"></i>
                  </span>
        </div>
        <input type="email"
               id="mobile-email"
               class="form-control"
               placeholder="Username"
               aria-label="Username">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col mt-2">
      <label class="m-0" for="mobile-password">Password</label>
      <div class="input-group">
        <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-lock"></i>
                  </span>
        </div>
        <input type="password"
               id="mobile-password"
               class="form-control"
               placeholder="Password"
               aria-label="password">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <span class="mt-1 mb-1 font-12px float-right account-action-link">Forgot your password?</span>
      <button type="button" class="btn btn-primary mt-1 full-width">
        Log in
      </button>
      <div class="font-12px text-center mt-3 mb-1">
        Don't have an account?
        <span class="account-action-link">Create one!</span>
      </div>
    </div>
  </div>
</div>
