<div class="container-fluid">
  <div class="row login-wrapper align-items-center">
    <div class="col-sm-12 col-md-4 offset-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">social.tag</h5>
          <form formGroupName="authForm">
            <div>
              <label class="m-0" for="email">Email</label>
              <div class="input-group">
                <input type="email"
                       id="email"
                       class="form-control"
                       placeholder="Username"
                       aria-label="Username">
              </div>
            </div>
            <div class="mt-2">
              <label class="m-0" for="password">Password</label>
              <div class="input-group">
                <input type="password"
                       id="password"
                       class="form-control"
                       placeholder="Password"
                       aria-label="password">
              </div>
            </div>
            <span class="mt-1 mb-1 font-12px float-right account-action-link">Forgot your password?</span>
            <button type="button" class="btn btn-primary mt-1 full-width">
              Log in
            </button>
            <div class="font-12px text-center mt-3 mb-1">
              Don't have an account?
              <span class="account-action-link">Create one!</span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
